@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 207 80% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206 86% 94%;
    --secondary-foreground: 210 79% 42%;
    --muted: 206 86% 94%;
    --muted-foreground: 0 0% 38%;
    --accent: 207 90% 68%;
    --accent-foreground: 0 0% 13%;
    --destructive: 1 79% 55%;
    --destructive-foreground: 0 0% 100%;
    --success: 122 39% 49%;
    --warning: 33 98% 49%;
    --border: 0 0% 88%;
    --input: 0 0% 88%;
    --ring: 207 80% 51%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 26%;
    --sidebar-primary: 207 80% 51%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 206 86% 94%;
    --sidebar-accent-foreground: 207 80% 51%;
    --sidebar-border: 0 0% 88%;
    --sidebar-ring: 207 80% 51%;
  }

  .dark {
    --background: 212 35% 7%;
    --foreground: 0 0% 88%;
    --card: 212 23% 11%;
    --card-foreground: 0 0% 88%;
    --popover: 212 23% 11%;
    --popover-foreground: 0 0% 88%;
    --primary: 207 90% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 85% 34%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 31% 18%;
    --muted-foreground: 210 17% 69%;
    --accent: 210 89% 77%;
    --accent-foreground: 0 0% 88%;
    --destructive: 4 90% 58%;
    --destructive-foreground: 0 0% 100%;
    --success: 122 39% 49%;
    --warning: 42 100% 50%;
    --border: 215 21% 23%;
    --input: 215 28% 26%;
    --ring: 207 90% 68%;
    --sidebar-background: 212 23% 11%;
    --sidebar-foreground: 0 0% 88%;
    --sidebar-primary: 207 90% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 31% 18%;
    --sidebar-accent-foreground: 207 90% 68%;
    --sidebar-border: 215 21% 23%;
    --sidebar-ring: 207 90% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-only, .print-only * {
    visibility: visible;
  }
  .print-only {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .print-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .receipt-container {
    height: 50%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  @page {
    size: A4;
    margin: 0;
  }
}